.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .auth-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 10px;
  }


  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
  outline: none;
  border-color: rgb(36, 155, 84); /* Example focus color */
}

button {
  background-color: rgb(36, 155, 84);
  color: white;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #306333; /* Darker green on hover */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .auth {
      flex-direction: column;
    }
  }